.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px; /* Tinggi garis bawah */
    bottom: -2px; /* Mengatur posisi garis bawah */
    left: 0;
    background-color: #f8f9fa; /* Warna garis bawah */
    transform: scaleX(0); /* Skala awal */
    transition: transform 0.3s ease; /* Animasi transisi */
}

.nav-link:hover::after {
    transform: scaleX(1); /* Skala penuh pada hover */
}

.nav-link:hover {
    color: #f8f9fal; /* Ubah warna teks saat hover */
}

.card-header {
    width: 100;
}
